In [1]:
import pandas as pd

In [17]:
population_EHPAD = pd.read_excel(
    'FRA/EHPA_residents.xlsx',
    usecols="A:F",
    skiprows=range(0,5),
    nrows=11,
    sheet_name="T1"
)

In [18]:
population_EHPAD.rename(columns={ 
    population_EHPAD.columns[1]: "age",
    population_EHPAD.columns[-1]: "Total"
}, inplace = True)

,Unnamed: 0,Femmes,Hommes,Total répondants,Non renseigné,Unnamed: 5
0,Moins de 65 ans,9842,12626,22468,10,22478
1,De 65 à moins de 70 ans,15093,16183,31277,11,31288
2,De 70 à moins de 75 ans,18439,15207,33646,19,33665
3,De 75 à moins de 80 ans,40057,22636,62693,23,62716
4,De 80 à moins de 85 ans,87740,34810,122550,43,122593
5,De 85 à moins de 90 ans,152303,44437,196740,67,196807
6,De 90 à moins de 95 ans,151337,35239,186576,62,186638
7,95 ans et plus,60564,10364,70928,22,70950
8,Total répondants,535375,191502,726877,258,727135
9,Non renseigné,528,226,754,35,789
10,ENSEMBLE,535903,191728,727631,293,727924